#Introduction to Financial Python

##Functions and Objective-Oriented Programming

###Introduction
In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

###Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [1]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [2]:
# My example
def sum(x,y):
    return x+y
print(product(-5,32))
print(product(40,70))

-160
2800

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [4]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [5]:
# My example
def say_goodbye():
    print('Goodbye QuantConnect')
say_goodbye()

Goodbye QuantConnect

####Built-in Function
**range()**is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [6]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [7]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

For my example, the function **max()** returns the maximum object of a collection

In [19]:
# My example
words = ['water','david','food','face','funny','waterloo', 'gummies']
# For words, the maximum words are the ones you would find later in the dictionary
print('The maximim value of words is {}'.format(max(words)))

The maximim value of words is waterloo

*Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"*

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [20]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [21]:
# My example
words = ['water','david','food','face','funny','waterloo', 'gummies']
print(list(map(max,words)))

['w', 'v', 'o', 'f', 'y', 'w', 'u']

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [22]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
# My example
list(map(lambda x: -x, range(-10,10)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

**map()** can be applied to more than one list. The lists have to have the same length.

In [26]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

['cat', 'dog', 'max']

In [27]:
# My example
list(map(lambda x, y,z: x+y+z, ['c','d','m'],['a','o','a'],['t','g','x']))

['cat', 'dog', 'max']

**sorted()** takes a list or set and returns a new sorted list:

In [28]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [29]:
# My example
sorted(['e','f','d','a','r'])

['a', 'd', 'e', 'f', 'r']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [31]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [39]:
#My example
my_list = [('M',45.8),('J',5678),('R',5678),('D',50.7),('Z',862)]
#sorting by the numbers
print("Sorting by the numbers ",sorted(my_list, key = lambda x: x[1]))
# sorting by the letters
print("Sorting by the letters ", sorted(my_list, key = lambda x: x[0]))

Sorting by the numbers  [('M', 45.8), ('D', 50.7), ('Z', 862), ('J', 5678), ('R', 5678)]
Sorting by the letters  [('D', 50.7), ('J', 5678), ('M', 45.8), ('R', 5678), ('Z', 862)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [34]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [38]:
#My example
my_list = [('M',45.8),('J',5678),('R',5678),('D',50.7),('Z',862)]
#sorting the numbers in descending order
print(sorted(my_list, key = lambda x: x[1], reverse = True))

[('J', 5678), ('R', 5678), ('Z', 862), ('D', 50.7), ('M', 45.8)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [40]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [41]:
#My example
my_list = [('M',45.8),('J',5678),('R',5678),('D',50.7),('Z',862)]
my_list.sort(key = lambda x: x[1])
print(my_list)

[('M', 45.8), ('D', 50.7), ('Z', 862), ('J', 5678), ('R', 5678)]

###Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

####Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [45]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [81]:
#My example
class sport_player:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        self.medals_won = 0
 
    def win_medal(self):
        self.medals_won += 1
 
    def print_num_medals(self):
        print(self.medals_won)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [50]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [68]:
# My example
pajon = sport_player('Mariana Pajon', 30, 'Fememino')
ibarguen = sport_player('Katherin Ibarguen', 32, 'Fememino')

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [52]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [69]:
# My example 
# Sport player have two methods, win_medal() and print_medal()
print("Number o medals Mariana pajo had: ")
pajon.print_num_medals()
pajon.win_medal()
print("Number o medals Mariana pajo has now: ")
pajon.print_num_medals()

Number o medals Mariana pajo had:
0
Number o medals Mariana pajo has now:
1

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [59]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [70]:
# My example
pajon.age = 15
pajon.age

15

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [62]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [71]:
#My example
dir(pajon)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'gender',
 'medals_won',
 'name',
 'print_num_medals',
 'win_medal']

####Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [64]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [83]:
#My example,a soccer player inherits from a sport_player
class soccer_player(sport_player):
    def __init__(self,name,gender,age):
        self.name = name
        self.gender = gender
        self.age = age
        self.medals_won = 0

Then we create an object:

In [65]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

In [84]:
#My example,a soccer player inherits from a sport_player
messi = soccer_player('Lionel Messi','Masculino',32)
print(messi.name)
messi.win_medal()
print(messi.age)
print(messi.gender)
messi.print_num_medals()

Lionel Messi
32
Masculino
1

###Summary
In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.